@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.companies {
    grid-area: companies;

    .main:has(> &) {
        grid-template-columns: none;
        grid-template-areas:
            "welcome"
            "companies";
    }

    &-list {
        @include m.mq("xl") {
            display: grid;
            grid-template-columns: 359px 359px 359px;
            gap: f.get-spacer("large-padding");
        }

        &-item {
            border-radius: 24px;
            padding: f.get-spacer("small-spacing");
            
            background-color: f.get-color("dark-tertiary");

            @include m.mq("xl", "max") {
                &:not(:last-child) {
                    margin-bottom: f.get-spacer("large-padding");
                }
            }

            &-brand {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: f.get-spacer("base-padding");

                color: f.get-color("light");

                &-name {
                    @extend %main-text;
                }

                &-logo {
                    fill: currentColor;
                }
            }

            &-location {
                display: flex;
                align-items: center;
                column-gap: f.get-spacer("small-padding");

                margin-bottom: f.get-spacer("medium-spacing");

                &-icon {
                    fill: f.get-color("success");
                }

                &-text {
                    @extend %accent-text;
                }
            }
        }
    }
}