@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.menu {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: f.get-color("dark-primary");

    @include m.mq("xl", "max") {
        @include m.ease("fast", transform);
        max-width: 248px;
        transform: translateX(-100%);

        .sidebar.is-open & {
            transform: translateX(0);
            transition-delay: 300ms;
        }
    };
}

.menu-list {
    border-top: 1px solid;
    border-color: f.get-color("dark-tertiary");
}

.menu-link {
    @extend %details;
    @include m.ease("fast", color);

    position: relative;
    display: flex;
    align-items: center;
    gap: f.get-spacer("small-spacing");
    padding: f.get-spacer("medium-padding") f.get-spacer("large-padding");

    &:hover,
    &:focus {
        color: f.get-color("light-primary");
    }

    &.current {
        color: f.get-color("light-primary");

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            display: block;
            width: 4px;
            height: 32px;

            border-radius: 0px 100px 100px 0px;
            background-color: f.get-color("light-primary");
        }
    }
}

.menu-icon {
    fill: currentColor;
}

.menu-notification {
    margin-left: auto;
}