@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.menu-button {
    @extend %details;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-right: auto;

    color: f.get-color("light-primary");

    @include m.mq("xl") {
        display: none;
    }

    &-icon {
        fill: currentColor;
    }

    .sidebar & {
        @include m.ease("slow", opacity, transform);
        transition-delay: 800ms, 600ms;

        position: absolute;
        top: 16px;
        right: -36px;

        opacity: 0;
        transform: rotate(180deg);
    }

    .sidebar.is-open & {
        opacity: 1;
        transform: rotate(0deg);
    }
}