@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.search-field {
    @include m.ease("fast", width, color);

    display: inline-flex;
    align-items: center;

    color: f.get-color("light-tertiary");
    overflow: hidden;

    &:focus-within {
        color: f.get-color("light-primary");
    }

    @include m.mq("xl", "max") {
        width: 30px;

        &:focus-within {
            width: 200px;
        }
    }

    @include m.mq("xl") {
        margin-right: auto;
    }
}

.search-icon {
    flex-shrink: 0;
    fill: currentColor;

    margin-right: 12px;
}

.search-input {
    @extend %details;

    min-width: 165px;
    min-height: 20px;

    @include m.mq("xl", "max") {
        @include m.ease("fast", opacity);
        opacity: 0;

        &:focus {
            opacity: 1;
            transition-delay: 400ms;
        }
    }
}