@use "sass:map";
@use "sass:list";

@use "functions" as f;
@use "variables" as v;

@mixin mq($break-point: sm, $type: min, $is-retina: false) {
    @if map.has-key(v.$break-points, $break-point) {
        $width: map.get(v.$break-points, $break-point);

        @if $type == max {
            $width: $width - 0.02px;
        }

        @media only screen and (#{$type}-width: $width) {
            @if $is-retina {
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    @content;
                }
            } @else {
                @content;
            }
        }
    } @else {
        @error "Such break point doesn't exist! Check the map!"
    }
}

@mixin frame($width, $height: $width, $is-circle: false) {
    width: $width;
    height: $height;

    @if $is-circle {
        border-radius: 50%;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        object-position: top center;
    }
}

@mixin ease($ease, $properties...) {
    @if map.has-key(v.$easings, $ease) {
        $ease: map.get(v.$easings, $ease);

        transition: $ease;

        @if list.length($properties) > 0 {
            transition-property: $properties;
        }
    } @else {
        @error "Such an ease doesn't exist! Check the map!"
    }
}