@use "functions" as f;
@use "mixins" as m;

%main-title {
    font-weight: f.get-font-weight("Bold");
    font-size: f.get-font-size("xl");
    line-height: 167%;
    letter-spacing: 0.02em;
}

%section-title {
    font-weight: f.get-font-weight("SemiBold");
    font-size: f.get-font-size("lg");
    line-height: 140%;
    letter-spacing: 0.03em;
}

%main-text {
    font-weight: f.get-font-weight("Medium");
    font-size: f.get-font-size("md");
    line-height: 150%;
    letter-spacing: 0.03em;
}

%accent-text {
    font-weight: f.get-font-weight("Regular");
    font-size: f.get-font-size("md");
    line-height: 150%;
    letter-spacing: 0.03em;
}

%details {
    font-weight: f.get-font-weight("Regular");
    font-size: f.get-font-size("sm");
    line-height: 143%;
    letter-spacing: 0.04em;
}

%details-accent {
    font-weight: f.get-font-weight("Medium");
    font-size: f.get-font-size("sm");
    line-height: 143%;
    letter-spacing: 0.04em;
}

%section-frame {
    padding: f.get-spacer("medium-padding");
    border-radius: 12px;

    @include m.mq("xl") {
        padding: f.get-spacer("small-spacing");
    }
}

%scroll-bar {
    &::-webkit-scrollbar,
    &::moz-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track,
    &::-moz-scrollbar-track {
        background-color: transparent;
        border-radius: 100px;

        &:hover {
            background-color: rgba(f.get-color("light"), 0.3);
        }
    }

    &::-webkit-scrollbar-thumb,
    &::-moz-scrollbar-thumb {
        background-color: f.get-color("light-secondary");
        background-clip: content-box;
        border: 5px solid transparent;
        border-radius: 100px;

        &:hover {
            background-color: f.get-color("accent-primary");
        }
    }
}