$break-points: (
    "sm": 375px,
    "md": 768px,
    "lg": 1200px,
    "xl": 1440px,
    "xxl": 1920px
);

$colors: (
    "light": #fff,
    "light-primary": #fafafb,
    "light-secondary": #b5b5be,
    "light-tertiary": #92929d,
    "dark": #000,
    "dark-primary": #13131a,
    "dark-secondary": #1c1c24,
    "dark-tertiary": #292932,
    "accent-primary": #f07f2e,
    "accent-secondary": #f15c27,
    "accent-tertiary": #d14a00,
    "danger": #fc5a5a,
    "warning": #a461d8,
    "success": #82c43c,
    "info": #4e75ff
);

$spacers: (
    "base-padding": 4px,
    "small-padding": 8px,
    "medium-padding": 16px,
    "large-padding": 20px,
    "small-spacing": 24px,
    "medium-spacing": 32px,
    "large-spacing": 36px,
    "extra-spacing": 68px
);

$main-font: "Montserrat";

$font-weights: (
    "Regular": 400,
    "Medium": 500,
    "SemiBold": 600,
    "Bold": 700
);

$font-sizes: (
    "sm": 14px,
    "md": 16px,
    "lg": 20px,
    "xl": 24px
);

$easings: (
    "fast": 300ms ease,
    "slow": 600ms ease
);