@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/placeholders";
@use "../utils/variables" as v;

.sidebar {
    @include m.mq("xl", "max") {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;

        width: 100%;
        height: 100%;

        background-color: rgba(f.get-color("dark-primary"), 0.5);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        &.is-open {
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
    }

    @include m.mq("xl") {
        grid-area: sidebar;
    }
}