@use "sass:list";
@use "sass:color";

@use "../../utils/functions" as f;
@use "../../utils/mixins" as m;


$button-padding-x: 12px !default;
$button-padding-y: 8px !default;
$button-layer-min-width: 32px !default;
$button-layer-min-height: $button-layer-min-width !default;
$button-layer-spacing: 4px !default;
$button-layer-border-radius: 12px !default;

$button-text-size: f.get-font-size("sm") !default;
$button-text-weight: f.get-font-weight("Medium") !default;
$button-line-height: 143% !default;
$button-text-spacing: 0.04em !default;
$button-text-color: f.get-color("light") !default;


$button-types: (
    primary, secondary, danger, warning, success, info, transparent, borderless
);


@import "button-base";
@import "types/primary";
@import "types/secondary";
@import "types/danger";
@import "types/warning";
@import "types/success";
@import "types/info";
@import "types/transparent";
@import "types/borderless";