@if list.index($button-types, info) {
    .button--info {
        background-color: f.get-color("info");

        &:hover,
        &:focus {
            background-color: color.adjust(f.get-color("info"), $lightness: -14.5%);
            box-shadow: 0px 4px 10px 0px rgba(f.get-color("info"), 0.25);
        }

        &:active {
            background-color: color.adjust(f.get-color("info"), $lightness: -17.5%);
        }
    }
} @else {
    @warn "Such a type doesn't exist. Add it to the list!"
}