@if list.index($button-types, primary) {
    .button--primary {
        background-color: f.get-color("accent-primary");

        &:hover,
        &:focus {
            background-color: f.get-color("accent-secondary");
            box-shadow: 0px 4px 10px 0px rgba(f.get-color("accent-primary"), 0.25);
        }

        &:active {
            background-color: f.get-color("accent-tertiary");
        }
    }
} @else {
    @warn "Such a type doesn't exist. Add it to the list!"
}