@if list.index($button-types, secondary) {
    .button--secondary {
        &:hover,
        &:focus {
            color: f.get-color("accent-secondary");
        }

        &:active {
            color: f.get-color("accent-tertiary");
        }
    }
} @else {
    @warn "Such a type doesn't exist. Add it to the list!"
}